.cp-modal {
  max-height: 85vh;
  overflow-y: auto;
}

/* custom scrollbar */
.cp-modal::-webkit-scrollbar {
  width: 8px;
}

.cp-modal::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.cp-modal::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
  border: 2px solid #f3f4f6;
}

.cp-modal::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.cp-option-row {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.cp-remove {
  background: #fee2e2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 10px;
}

.cp-add {
  background: #eef2ff;
  border: none;
  border-radius: 10px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.cp-suggestions {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  max-height: 180px;
  overflow-y: auto;
  z-index: 50;
}

.cp-suggestion {
  padding: 10px;
  cursor: pointer;
}

.cp-suggestion:hover {
  background: #f3f4f6;
}

/* Add Option hover */
.cp-add:hover {
  background: #c7d2fe;
  transform: translateY(-1px);
}

/* Cancel hover */
.cp-cancel:hover {
  background: #e5e7eb;
}

/* Date input enhancement */
.cp-date {
  cursor: pointer;
  background-color: #f9fafb;
}

/* Force calendar icon visibility */
.cp-date::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
  filter: invert(0.3);
}

.cp-header{
  color:black;
}

.cp-remove {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #5c6577; /* normal gray */
  transition: background 0.2s ease, color 0.2s ease;
}

.cp-remove:hover {
  background: #fee2e2; /* light red */
  color: #dc2626;      /* red icon */
}

